@use "../../../presets" as *;
@use "../../../mixins" as *;

.right {
    padding: 40px;
    flex-basis: 200px;
    flex-grow: 3;

    &-language {
        text-align: right;
        margin-bottom: 20px;

        &__link {
            font-style: normal;
            font-weight: 700;
            color: black;

            padding: 3px 4px;

            transition: 0.5s;

            &:hover {
                color: #c7aa70;
            }

            &.active {
                border-radius: 5px;
                background-color: #c7aa70;

                &:hover {
                    color: black;
                }
            }
        }
    }

    &-info {
        display: flex;
        gap: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid #A8A8A8;


        &__name {
            max-width: 315px;

            &-title {
                margin: 0;
                color: #2c394a;
                font-style: normal;
                font-weight: 700;
                font-size: 45px;
                line-height: 55px;
            }

            &-description {
                color: #c7aa70;
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 17px;
            }
        }

        &__contacts {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            gap: 10px;
            margin-left: auto;

            &-box {
                display: flex;
                // border-top: 1px solid #A8A8A8;
                border-bottom: 1px solid #A8A8A8;

            }

            &-viber {
                margin-left: 10px;
                color: #785cef;
                transition: 0.5s;
                
                    &:hover {
                        scale: 1.3;
                    }
            }

            &-telegram {
                margin-left: 10px;
                color: #27a3e2;
                transition: 0.5s;
                &:hover {
                    scale: 1.3;
                }
            }

            &-link {
                display: flex;
                align-items: center;
                gap: 10px;
                padding-bottom: 10px;
                border-bottom: 1px solid #A8A8A8;

                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 17px;
                transition: 0.5s;

                &:hover {
                    color: #c7aa70;
                }

                &--md {
                    border-bottom: none;
                }


            }

            &-image {

                color: #c7aa70;
            }

            &-location {
                font-style: normal;
            }

            &-phone {}

            &-email {}
        }
    }

    &-projects {
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #A8A8A8;

        &__title {
            color: #c7aa70;
            margin-bottom: 20px;

            font-weight: 700;
            font-size: 22px;
            line-height: 27px;
        }

        &__list {
            margin-left: 20px;
        }

        &__item {
            margin-bottom: 5px;
            color: #c7aa70;
        }

        &__link {}

        &__text {
            color: black;
            transition: 0.5s;

            &:hover {
                color: #c7aa70;
            }
        }
    }

    &-work {
        border-bottom: 1px solid #A8A8A8;

        &__title {
            color: #c7aa70;
            padding-top: 10px;
            margin-bottom: 20px;

            font-weight: 700;
            font-size: 22px;
            line-height: 27px;
        }

        &__item {}

        &__description {
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: #000000;
            margin-bottom: 10px;
        }

        &__notes {
            display: flex;
            gap: 10px;
            margin-bottom: 10px;

            &-date {
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 15px;
                color: #A8A8A8;
                border-right: 1px solid #A8A8A8;
                padding-right: 10px;
            }

            &-country {
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 15px;
                color: #A8A8A8;
            }
        }

        &__list {
            margin-left: 20px;
            margin-bottom: 10px;
        }

        &__item {
            margin-bottom: 5px;
            color: #c7aa70;
        }

        &__text {
            color: black;
        }
    }

    &-education {

        &__title {
            color: #c7aa70;
            padding-top: 10px;
            margin-bottom: 20px;

            font-weight: 700;
            font-size: 22px;
            line-height: 27px;
        }

        &__item {}

        &__description {
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: #000000;
            margin-bottom: 10px;
        }

        &__speciality {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: #000000;
            margin-bottom: 5px;

            &--md {
                color: #c7aa70;
            }
        }



        &__notes {
            display: flex;
            gap: 10px;
            margin-bottom: 10px;

            &-date {
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 15px;
                color: #A8A8A8;
                border-right: 1px solid #A8A8A8;
                padding-right: 10px;
            }

            &-country {
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 15px;
                color: #A8A8A8;
            }
        }
    }
}