@use "../presets" as *;

// !ограничевающий контейнер
// !задается @extend %container;
%container {
    max-width: $ul;
    margin-right: auto;
    margin-left: auto;
    padding-right: $gap;
    padding-left: $gap;
}