// *variables - переменные

// размер контейнера
$ul: 1200px;
$xxl: 1400px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;

$gap: 20px;
$gap-sm: 20px * 0.5;

$font-size: 16px;
$font-primary: "TT Norms", sans-serif;